## Unit 9

## Touples

In [1]:
T = (12, 13, 18, 56, 36)
print(T)
print(type(T))

(12, 13, 18, 56, 36)
<class 'tuple'>

In [2]:
t1 = (12, 12, -43, 12.111, "apple", "python")
print(t1)
print(type(t1))

(12, 12, -43, 12.111, 'apple', 'python')
<class 'tuple'>

In [4]:
t2 = ()
print(t2)
type(t2)

()

tuple

In [5]:
m = (23)
print(m)
print(type(m))

23
<class 'int'>

In [6]:
m1=(23,)
print(m1)
print(type(m1))

(23,)
<class 'tuple'>

In [7]:
m4 = (12, 13, 12, (12, 13, 14), (2, 3, 4, 5), ("hello", "worls"))
print(m4)
print(type(m4))

(12, 13, 12, (12, 13, 14), (2, 3, 4, 5), ('hello', 'worls'))
<class 'tuple'>

## Concatination of tuples

In [8]:
tuple1 = (12, 13, 14, 15)
tuple2 = (16, 17, 18, 19, 20)
print(tuple1 + tuple2)

(12, 13, 14, 15, 16, 17, 18, 19, 20)

## Nesting of tuples

In [9]:
tuple1 = (20, 13, 14, 15)
tuple2 = (-1, -2, -3)
tuple3 = (tuple1, tuple2)
print(tuple3)

((20, 13, 14, 15), (-1, -2, -3))

## Multiply tuples

In [11]:
fruits = ["apple", "banana", "cherry"]
t = fruits*2
print(t)
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

## length of tuples

In [12]:
a = (12, 13, 14, 12, 12, 13, 14, 34, 53, 23, 53)
print(len(a))

11

In [14]:
t = 12, 14, 16, 12, 14, 43, 23, 23, 32
print(t)
print(type(t))

(12, 14, 16, 12, 14, 43, 23, 23, 32)
<class 'tuple'>

## Count Method

In [16]:
t = (1, 1, 1, 1, 1, 32, 1, 1, 21, 12)
print(t.count(1))

7

## Indexing in tuple

In [17]:
a = (23, 47, 63, 54, 12, 78, 90)
print(a[0])

23

In [19]:
for x in a:
    print(x)

23
47
63
54
12
78
90

In [20]:
print(a[: : -1])

(90, 78, 12, 54, 63, 47, 23)

## index method

In [21]:
a = (12, 13, 21, 12, 23, 43)
print(a.index(13))

1

In [25]:
print(a.index(43))

5

## Slicing in tuple

In [29]:
t2 = (12, 43, 44, 65, 56, 32)
print(len(t2))
print(t2[0:3])
print(t2[3: ])

6
(12, 43, 44)
(65, 56, 32)

In [30]:
print(t2[: : -1])

(32, 56, 65, 44, 43, 12)

## Deleting in tuple

In [35]:
b = (23, 24, 53, 23, 12)
c = list(b)
c.remove(24)
newtuple = tuple(c)
print(newtuple)

(23, 53, 23, 12)

## Add item in tuple

In [40]:
"""add the value 18 in the tuple"""

t1 = (12, 13, 14, 15, 16, 17)
l1 = list(t1)
l1.append(32)
t2 = tuple(l1)
print(t2)

(12, 13, 14, 15, 16, 17, 32)

## max in tuple

In [2]:
a = (12, 43, 85, 444, 2222, 55)
b = max(a)
print(b)

2222

In [4]:
a = ("helo", "priyanshu", "verma", "divyanshi", "divyanshu")
print(max(a))

verma

## Min in tuple

In [5]:
a = ("helo", "priyanshu", "verma", "divyanshi", "divyanshu")
print(min(a))

divyanshi

## Unpacking of tuple

In [7]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using asterisk

In [11]:
 a = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = a
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [12]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [13]:
"""sort a tuple"""
a = (23, 87, 12, 91, 3, 54, -90, -32)
b = list(a)
b.sort()
a1 = tuple(b)
print(a1)

(-90, -32, 3, 12, 23, 54, 87, 91)

## Using loop in tuple

In [15]:
"""Seperate positive and negative intergers from the tuple"""

a = (14, 6, 17, -83, -45, -32, 12, 43, -54)
pos = []
neg = []

for x in a:
    if(x>0):
        pos.append(x)
    else:
        neg.append(x)

post = tuple(pos)
negt = tuple(neg)

print(post)
print(negt)

(14, 6, 17, 12, 43)
(-83, -45, -32, -54)

In [19]:
"""Multiply adjacent element in tuple"""

a = (2, 5, 3, 6, 4, 8, 1)
mul = []
for x in range(len(a)-1):
    multiply = a[x] * a[x+1]
    mul.append(multiply)

multuple = tuple(mul)
print(multuple)

(10, 15, 18, 24, 32, 8)

In [20]:
"""Original list of tuple  [(1, 2), (2, 3), (3, 4)]
convert it into [13, 5, 7]
"""

listtuple = [(1, 2), (2, 3), (3, 4)]
list1 = []
for x in listtuple:
    list1.append(sum(x))

print(list1)

[3, 5, 7]