## Unit - 10

## Sets in python

In [2]:
s = {12, 13, 14, 15}
print(s)
print(type(s))

{12, 13, 14, 15}
<class 'set'>

In [3]:
s = {12, 13, 14, -54, -2, 2.32, "code", "data Science"}
print(s)
type(s)

{2.32, -54, 12, 13, 14, 'code', 'data Science', -2}

set

## Unordered

In [4]:
s = {12, 43, 23, 22, 12, 32, 53}
print(s)

{32, 53, 22, 23, 43, 12}

## Duplicates Not Allowed

In [5]:
m = {21, 12, 21, 21, 43, 21, 21, 21, 21}
print(m)

{43, 12, 21}

In [6]:
m= {"hello", "hello", "hello", 2.36, 2.36}
print(m)

{2.36, 'hello'}

## get the length of a set

In [8]:
a = {12, 14, 23, 32, 54}
print(len(a))

5

## Access items of a set

In [10]:
s = {12, 32, 54, 64, 75, 34, 75}
for x in s:
    print(x)

32
64
34
54
75
12

In [11]:
"""Check if apple is in the set or not?"""
s = {12, "apple", 32, 43, "hello", "mango"}
print("apple" in s)

True

## Add items

In [12]:
a = {12, 13, 14, 15, 23, 34, 54, "hello"}
a.add("Orange")
print(a)

{34, 12, 13, 14, 15, 54, 23, 'hello', 'Orange'}

In [14]:
a = {12, 13, 14, 15, 23, 34, 54, "hello"}
a.add(2.32)
print(a)

{34, 2.32, 12, 13, 14, 15, 54, 23, 'hello'}

## Update Method

In [15]:
a = {12, 13, 14, 15, 16}
b = {"red", "blue", "pink"}

a.update(b)

print(a)

{16, 'red', 'blue', 'pink', 12, 13, 14, 15}

## Remove item

In [16]:
a = {12, 13, 43, 54, 36, 76}
a.remove(12)
print(a)

{36, 54, 43, 13, 76}

## Discard method

In [17]:
a = {12, 13, 14, 15, 16, 17, 18, 19}
a.discard(12)
print(a)

{13, 14, 15, 16, 17, 18, 19}

## Pop Method

In [18]:
a = {12, 13, 14, 15, 16, 98, 97, 96}
removed_item = a.pop()
print(a)
print(removed_item)

{97, 98, 12, 13, 14, 15, 16}
96

## Clear Method

In [19]:
a = {12, 13, 14, 15, 16, 87, 96, 34}
a.clear()
print(a)

set()

## Python Join Sets Union Method

In [20]:
a = {12, 13, 14, 87, 24}
b = {5, 6, 7, 8}
newset = a.union(b)
print(newset)
print(a)

{5, 6, 7, 8, 12, 13, 14, 87, 24}
{87, 24, 12, 13, 14}

## Difference between union and update

In [24]:
a = {12, 13, 14, 15, 16}
b = {4, 5, 6}
a.update(b)
print(a)

# update method change original set

{16, 4, 5, 6, 12, 13, 14, 15}

## intersection_update() Method

In [25]:
a = {23, 24, 25, "hello", "cherry", "sahil"}
b = {"cherry", "and divyanshi"}
a.intersection_update(b)
print(a)

{'cherry'}

## intersection Method

In [26]:
a = {23, 24, 25, "hello", "cherry", "sahil"}
b = {"cherry", "and divyanshi"}
result = a.intersection(b)
print(result)
print(a)

{'cherry'}
{23, 'sahil', 'hello', 24, 25, 'cherry'}

## Difference Method

In [27]:
x = {12, 13, 14, 15, 16, 17}
y = {12, 13, 14, 34}
result = x.difference(y)
print(result)

{16, 17, 15}

In [28]:
x = {12, 13, 14, 15, 16, 17}
y = {12, 13, 14, 34}
result = y.difference(x)
print(result)

{34}

## Difference Update Method

In [29]:
"""remove the items that exist in both sets"""
a = {12, 18, 19 , 20, "hello", "coding", "class"}
b = {17, "coding"}
a.difference_update(b)
print(a)

{18, 19, 20, 'class', 'hello', 12}

## Symmetric Difference Update method

In [31]:
a = {23, 25, 26, 27, "apple", "cherry"}
b = {12, 13, "cherry"}
a.symmetric_difference_update(b)
print(a)

{23, 25, 26, 27, 12, 13, 'apple'}

## Symmetric Difference Method

In [34]:
a = {12, 13, 14, 15}
b = {12, 13, 89}
result = a.symmetric_difference(b)
print(result)

{89, 14, 15}

## isdisjoint Method

In [2]:
x = {12, 1, 12, 13, 14}
y = {11, 15, 18}
z = x.isdisjoint(y)
print(z)

True

In [3]:
x = {12, 13, 14, 15}
y = {12, 89, 78, 43}
z = x.isdisjoint(y)
print(z)

False

## issubset method

In [4]:
x = {1, 2, 3, 4}
y = {1, 2, 3, 4, 5, 6, 7}
z = x.issubset(y)
print(z)

True

In [5]:
x = {1, 2, 3, 4, 5}
y = {1, 2, 3, 4, 6, 7}
z = x.issubset(y)
print(z)

False

## issuperset() Method

In [6]:
x = {1, 2, 3, 4}
y = {3, 4}
ans = x.issuperset(y)
print(ans)

True

In [8]:
x = {2, 3, 4, 6}
y = {2, 6, 3}
ans = x.issuperset(y)
print(ans)

True

In [9]:
p = {1, 2, 3}
q = {1, 2, 3}
c = p.issuperset(q)
print(c)

True

In [11]:
a = {}
print(type(a))
# is is showing dictinoary

<class 'dict'>

In [12]:
a = {1}
print(type(a))
# it is showing set

<class 'set'>

## How to Create Empty set

In [13]:
a = set()
print(a)
type(a)

set()

set

## set funtion

In [16]:
L = [12, 14, 16, 18]
S =set(L)
print(L)
print(S)
print(type(S))

[12, 14, 16, 18]
{16, 18, 12, 14}
<class 'set'>

In [17]:
s = {12, 13, 14, 15}
l = list(s)
print(s)

{12, 13, 14, 15}

## Min in set

In [18]:
p = {12, 18, 24, 27}
print((min(p)))

12

# max in set

In [19]:
p = {12, 18, 27, 34}
print(max(p))

34

## Copy in set

## why you need copy method

In [21]:
a = {12, 7, 8, 60, 21}
b = a
b.add(10)
print(a)
print(b)

# it change original set as well

{21, 7, 8, 10, 12, 60}
{21, 7, 8, 10, 12, 60}

In [22]:
a = {12, 3, 4, 5, 6}
b = a.copy()

b.add(21)
print(a)
print(b)

{3, 4, 5, 6, 12}
{3, 4, 5, 6, 21, 12}

In [25]:
"""Intersection of 2 list"""
L1 = [12, 13, 14, 14, 23]
L2 = [12, 43, 14, 23]

s1 = set(L1)
s2 = set(L2)



ans = s1.intersection(s2)
newlist = list(ans)
print(newlist)

{12, 13, 14, 23}
{12, 13, 14, 23}
[12, 14, 23]

In [27]:
"""taking input in set from user"""

s1 = set()
leng = int(input("How Many element you want to add"))
for x in range(leng):
    elem = input("Enter the element = ")
    s1.add(elem)

print(s1)

How Many element you want to add 4
Enter the element =  45
Enter the element =  45
Enter the element =  85
Enter the element =  8

{'8', '85', '45'}

In [30]:
"""Python program to find the common items in 3 lists using sets"""

s1 = {1, 2, 3, 4,}
s2 = {3, 4, 5, 6}
s3 = {3, 4, 1, 2}

newset = s1.intersection(s2)
newset1 = newset.intersection(s3)

{3, 4}