# Built In Function

## Round Function

In [1]:
num1 = 23.655
print(round(num1))

24

In [6]:
num2 = 2.5     
print(round(num2))

2

In [4]:
num3 = 3.5
print(round(num3))

4

In [5]:
num4 = 3.6576
print(round(num4, 3))

3.658

In [ ]:
"""Q1. Rohan Buy a three tabletes , price of tablet one = 45.343 , price of tablet two = 23.444 , price of tablet three = 123.32 what price rohan will have to pay and round of that price"""

In [9]:
tablet_one = 45.343
tablet_two = 23.444
tablet_three = 123.32

total = tablet_one + tablet_two + tablet_three
print(round(total))

192

## Divmod Funtion

In [12]:
x = divmod(12, 4)
print(x)
print(x[0])
print(x[1])
print(type(x))

(3, 0)
3
0
<class 'tuple'>

In [13]:
y = divmod(-10, 3)
print(y)

(-4, 2)

### Q1 . 1356 minutes convert it into hours and minutes

In [17]:
minutes = 1356
ans = divmod(1356 , 60)
print(ans)
hours = ans[0]
mins = ans[1]
print("Hours : ", hours)
print("Minutes : ", mins)

(22, 36)
Hours :  22
Minutes :  36

## isInstance Funtion

In [18]:
anss = isinstance(23, int)
print(anss)

True

In [20]:
anss2 = isinstance(23.5, int)
print(anss2)

False

In [21]:
isinstance(23, (int , float))

True

In [22]:
isinstance(23.4, (int , float))

True

In [23]:
isinstance("hello Kaise ho", (int, float, str))

True

## Pow Funtion

In [24]:
ans = pow(32, 4)
print(ans)

1048576

In [26]:
ans2 = pow(43, 5, 9)
print(ans2)

4

## Input Function and Int , Float , Bool

In [27]:
number1 = input("Enter the value = ")

Enter the value =  23

In [28]:
print(number1)

23

In [29]:
print(type(number1))

<class 'str'>

In [30]:
# type convertion
int_number1 = int(number1)
print(int_number1)

23

In [32]:
number2 = input("Enter the float value = ")

Enter the float value =  5.22

In [33]:
print(type(number2))

<class 'str'>

In [34]:
float_number2 = float(number2)

In [35]:
print(float_number2)

5.22

In [36]:
print(type(float_number2))

<class 'float'>

## len function

In [37]:
str1 = "hello sahil you are doing good"
print(len(str1))

30

In [38]:
str2 = "hello dost"
str3 = " kaise ho"
print(str2 + str3)

hello dost kaise ho

In [39]:
print(len(str2 + str3))

19

In [40]:
list1 = [1, 2, 3, 4, 5, 6, 6, 7, 8]
print(len(list1))

9

## Min And Max Function

In [43]:
list2 = [1, 2, 2, 1, 5, 6, 3, 343, 22]
print(min(list2))
print(max(list2))

1
343

In [44]:
"""Q1. Ask the user to enter three values and find the maximum and minimum among them"""

val1 = input("enter value = ")
val2 = input("enter value = ")
val3 = input("enter value = ")
val4 = input("enter value = ")
val5 = input("enter value = ")

maximum = max(val1, val2, val3, val4, val5)
minimum = min(val1, val2, val3, val4, val5)

print(maximum, minimum)

enter value =  12
enter value =  48
enter value =  2
enter value =  5
enter value =  89

89 12

## Sorted Function

In [45]:
list1 = [1, 4, 1, 22, 3, 232 , -6]
print(sorted(list1))

[-6, 1, 1, 3, 4, 22, 232]

In [46]:
print(sorted(list1, reverse = True))

[232, 22, 4, 3, 1, 1, -6]

## help() Function

In [47]:
max??

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more positional arguments, return the largest argument.
Type:      builtin_function_or_method

In [48]:
max?

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more positional arguments, return the largest argument.
Type:      builtin_function_or_method